@media(max-width:1440px)
{
    .download__app-area {
        padding: 25rem 0;
    }

    .download__app-image img {
        top: 55%;
        width: 60%;
        right: -20rem;
    }
}

@media(max-width:1366px)
{
    .container-fluid {
        max-width: 90%;
    }
    .download__app-area {
        padding: 20rem 0;
    }
}

@media(max-width:1280px)
{
    .download__app-area {
        padding: 15rem 0;
    }
    .partners__wrapper {
        row-gap: 0;
        column-gap: 0rem;
    }

    section {
        padding: 3rem 0;
    }
}

@media(max-width:1024px)
{
    .testomonials {
        column-count: 2;
        column-gap: 2rem;
    }

    .testomonials__item {
        margin-bottom: 2rem;
    }
    .footer__area 
    {
        justify-content: center;
        gap: 3rem;
    }

    .download__app {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .download__app-image img 
    {
        position: static;
        top: 0;
        transform: translateY(0%);
        width: 100%;
        margin-top: 5rem;

    }
    .download__app-cta 
    {
        text-align: center;
        justify-content: center;
    }
    .download__app-area {
        padding: 5rem 0 0;
    }
}

@media(max-width:768px)
{
    .cta--desktop 
    {
        display: none;
    }
    .cta--mobile 
    {
        display: block;
    }
    .hidden 
    {
        display: block;
    }
    .header__navigation 
    {
        position: absolute;
        top: 6rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:var(--white-color);
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;

    }
    .header__navigation.active 
    {
        max-height: 500px;
        transform: translateY(0);
        opacity: 1;
        top: 6rem;
        transition: max-height 1s ease;
    } 
    .header__navigation ul 
    {
        flex-direction: column;
        width: 100%;
        padding: 2rem 0;
      
    }
    .header__navigation-cta 
    {
        padding-bottom: 2rem;
    }
    .header__navigation ul li 
    {
        padding: 0;
        display: block;
        text-align: center;
        margin: 1rem auto;
    }
    .header__navigation ul li a 
    {
        text-align: center;
        display: block;
    }
    #hamburger 
    {
        font-size: 3rem;
        cursor: pointer;
        background: none;
        border: none;
    }

    .partners__wrapper .partner__logo {
        width: auto;
    }
    .pt-10 {
        padding-top: 3rem;
    }
    .progressive__data 
    {
        flex-direction: column;
    }

    .progressive__data-item {
        width: 100%;
        padding: 3rem 0;
    }

    .whoisit__for-item {
        padding: 0rem 0 0rem 3rem;
    }
    .testomonials__item 
    {
        padding: 1rem;
    }

    .footer__area-item 
    {
        margin-bottom: 2rem;
    }

    .progressive__data-item:nth-child(even) {
        border: none;
        border-top: 0.2rem solid var(--white-gray);
        border-bottom: 0.2rem solid var(--white-gray);
    }

    .whoisit__for-item::after {
        left: 16px;
        width: 3px;
    }

    .whoisit__for-img {
        width: 80%;
        margin: 1rem auto 0;
    }
  
}

@media(max-width:575px)
{
    .download__app-cta {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .download__app-cta .btn 
    {
        width: 100%;
    }
    .testomonials {
        column-count: 1;
        column-gap: 2rem;
    }

    .footer__area 
    {
        flex-direction: column;
    }

    .footer__area-item 
    {
        margin-bottom: 0;
    }

    .footer__bottom 
    {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .extra-card
    {
        display: none;
    }

    #load__morebtn 
    {
        display: block;
        width: 100%;
    }
}